<h3>About You</h3>
<form>
    <label>
        Name:<br>
        <input name='name' [(ngModel)]='name'>
    </label><br>
    <label>
        Email:<br>
        <input name='email' [(ngModel)]='email'>
    </label><br>
    <label>
        Phone Number:<br>
        <input name='phoneNumber' [(ngModel)]='phoneNumber'>
    </label><br>
</form>
<h3>Team Preference</h3>
<h3>Availability</h3>
<h3>Health & Safety</h3>
<label>
    Any health conditions we should know about (optional)<br>
    <input name='health' [(ngModel)]='health'>
</label><br>
<label>
    Any dietary restrictions we should know about (optional)<br>
    <input name='dietary' [(ngModel)]='dietary'>
</label><br>
