<form #signUpForm= "ngForm" (submit)= "onSubmit(signUpForm)">

<h3>About You</h3>
    <label>
        Name:<br>
        <input type="text" name='name' [(ngModel)]='name' required>
    </label><br>
    <br>
    <label>
        Email:<br>
        <input name='email' [(ngModel)]='email'>
    </label><br>
    <br>
    <label>
        Phone Number (optional):<br>
        <input name='phoneNumber' [(ngModel)]='phoneNumber'>
    </label><br>
    <br>
    <label>
        Where did you hear about this oppourtunity?<br>
        <input list = "sources" >
        <datalist id = "sources">
            <option value= "Social Media">
            <option value= "Word of Mouth">
            <option value= "From Teachers">
            <option value= "Volunteering Website">
            <option value= "Online Ads">
            <option value= "Flyers/Posters">
            <option value= "Email">
        </datalist>
    </label>


<h3>Team Preference</h3>
<label>
    First Choice<br>
    <input list = "teams">
    <datalist id = "teams">
        <option value= "Check In Team">
        <option value= "Wayfinding Team">
        <option value= "Food Service Team">
        <option value= "Hygiene Team">
        <option value= "Backstage">
    </datalist>
</label> 
<br>
<br>
<label>
    Second Choice<br>
    <input list = "teams">
    <datalist id = "teams">
        <option value= "Check In Team">
        <option value= "Wayfinding Team">
        <option value= "Food Service Team">
        <option value= "Hygiene Team">
        <option value= "Backstage">
    </datalist>
</label>
<br>
<br> 
<label>
    Third Choice<br>
    <input list = "teams">
    <datalist id = "teams">
        <option value= "Check In Team">
        <option value= "Wayfinding Team">
        <option value= "Food Service Team">
        <option value= "Hygiene Team">
        <option value= "Backstage">
    </datalist>
</label>

<h3>Availability</h3>
<input type="checkbox" id="wed" name="available" value="WED">
  <label for="wed">Wednesday</label><br>
<input type="checkbox" id="thurs" name="available" value="THURS">
  <label for="thurs">Thursday</label><br>
<input type="checkbox" id="fri" name="available" value="FRI">
  <label for="fri">Friday</label><br>  
<input type="checkbox" id="sat" name="available" value="SAT">
  <label for="sat">Saturday</label><br>

<h3>Health & Safety</h3>
<input type="checkbox" id="vaxxCheck" name="vaxxCheck" value="vaxxCheck">
  <label for="vaxxCheck"> I am fully vaccinated against COVID-19 by an approved vaccine. Required to attend.</label><br>

<br>

<label>
    Any health conditions we should know about (optional)<br>
    <input name='health' [(ngModel)]='health'>
</label><br>
<label>
    Any dietary restrictions we should know about (optional)<br>
    <input name='dietary' [(ngModel)]='dietary'>
</label><br>

<br>
<input type="checkbox" id="TOS" name="TOS" value="TOS">
  <label for="TOS"> I agree to the Terms of Service and Privacy Policy.</label><br>

<br>

<label>
    <button type="submit" [disabled] ="!signUpForm.valid"> Submit Application</button>
</label>

</form>

